<form class="login-form">
  <div class="title">Login</div>
  <label for="username-login">User Name:</label>
  <input type="text" id="username-login" />
  <label for="password-login">Password:</label>
  <input type="password" id="password-login" />
  <button type="submit">Login</button>
  <a href="/signup">Sign Up Instead</a>
</form>
<script src="/javascript/login.js"></script>